@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

header {
    background-color: #101010;
    height:90px;
}
.logo {
    width: 100%;
    max-width: 90%;
    margin: 0 0 0 0;
    max-width: 8vw;
}
.container-grid {
    width: 65vw !important;
    margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 77%;
    margin: 0 auto;
}
.cabecalho {
    height: 100%;
    justify-content: space-between;
}
.menu {
    width: 24.5vw;
    justify-content: space-between;
    padding-left: 1.8vw;
    display: flex;
}
.menu a {
    font-size: 0.93vw;  
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.08em;
    font-weight: 400;
    justify-content: space-between;
}
.icone-menu {
    height: 34px;
}
#barras {
    display: none;
}
.cabecalho input{
    background-color: black;
    font-family: 'Noto Sans HK', sans-serif;
    border: none;
    padding: 7.8px 85px;
    margin: 10px 0 10px 30px;
    color: white;
    border-radius: 2px 0 0 2px;
}

.cabecalho input::placeholder {
    color: white;
    text-transform: uppercase;
    font-size: 11.5px;
    opacity: 0.9;
    display: block;
    width: 100%;
}
.cabecalho button {
    padding: 4.6px 5.1px;
}

.initial img{
    width: 100%;
    max-width: 45px;
}
.banner {
    background-repeat: no-repeat; 
    margin: 0 auto;
    height: 26.2vw;
    width: 63.5vw;
    background-position: center;
    background-size: contain;
}

.banner-promocao {
    background-image: url(./img/Flash\ Sale\ -\ Banner1.png) ;
}
.banner-mouse {
    background-image: url(./img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshiping.png);
}
.banner-cadeira {
    background-image: url(./img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshipinga.png);
}
.banner-kit {
    background-image:  url(./img/Banner\ para\ loja\ virtual\ ecommerce\ periféricos\ dropshipinga\ \(1\).png);
}

.initial-pai {
  height: 100%;
  max-height: 93%;
  width: 65vw;
  align-items: center;  
  justify-content: space-between;
  margin: 0.9vw 0 0 0;
  display: flex;
}
.initial {
    justify-content: space-between;
    width: 100%;
    max-width: 63.5vw;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.initial h1 {
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-right: 2vw;
}

#carrinho {
    margin-left: 2vw;
}

#carrinho a {
    text-decoration: none;
    align-items: center;
    display: flex;
    background-color: #151515;
    width: 7.18vw;
    height: 2.28vw;
    border-radius: 40px;
    text-align: center;
}
#carrinho p {
    padding-left: 0.55vw;
    text-transform: uppercase;
    font-size: 0.63vw;
    color: white;
    font-family: 'Noto Sans';
    font-weight: 200px;
}
#carrinho img {
    border-left: 1px solid #fff;
    margin-left: 7px;
    padding-left: 7px;
    width: 100%;
    max-width: 2.23vw;
}



.conteudo-banner h1 {
    font-family: 'Montserrat', sans-serif;
    color: #5271FF;
    text-shadow: -1.4px 1.4px 0 red,
    0.9px -0.9px 0 #00ffff;
    font-size: 4.2vw; 
}
.conteudo-banner a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.99vw;
    text-decoration: none;
    color: #5271FF;
    text-shadow: -0.5px 0.5px 0 red,
    0.5px -0.5px 0 #00ffff; 
    padding: 11px 40px;
    background-color: white;
    border-radius: 35px;
}
.conteudo-banner {
    width: 530px;
    height: 11.5vw;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.posicionamento-banner {
    justify-content: flex-start;
    height: 90%;
}




.sect {
    display: flex;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.sections {
    background: rgba(204, 204, 204, .5);
    height: 135px;
    align-items: center;
    padding: 10px;
    width: 75vw;
    margin: 0 auto;
}
.conteudo-sections {
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.sections a {
    text-align: center;
    text-decoration: none;
    color: black;
    align-items: center;
}
.sections p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
    align-items: center;
}
.conteudo-sections img {
    width: 100%;
    max-width: 70px;
    border-radius: 50%;
}


.container-grid-img {
    justify-content: space-around;
}
.container-grid-img img {
    width: 100%;
    max-width: 25px;
}
.container-grid-img button {
    background-color: #202020;
    border: none;
    padding: 4.4px 10px;
    border-radius: 0 2px 2px 0;
}

.aviso-promocao {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.aviso-promocao h1 {
    font-family: 'Montserrat', sans-serif;
}
.aviso-promocao p {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-size: 10px;
    text-decoration: none;
    color: #212529;
}



.card img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}
.nome-produto {
    font-family: 'Orbitron', sans-serif;
    font-size: 11.8px;
    margin: 4px;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.card button {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 13px;
    letter-spacing: -0.04em;
    background-color: #151515;
    color: #ffffff;
    border: none;
    border-radius: 0 0 5px 5px;
    letter-spacing: 0.025em;
    font-stretch: condensed;
}
.card-produtos h4 {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
    font-weight: bolder;
    font-family: 'Noto Sans HK', sans-serif;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card-2 {
    background-color: #252525;
    padding: 7px;
  }
.card {  
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding-left: 0%;
    padding-right: 0%;
    margin: 30px;
    width: 195px;
    height: 260px;
    transition: all 0.3s ease-out;
    background-color: #252525;
    border-radius: 0%;
    border-radius: 0 0 4px 4px;
  }
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
.card-produtos {
    display: flex;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.5);
    margin: 2.3vw 0 2.3vw 0;
}
.produtos {
    width: 64vw;
    margin: 0 auto;
}


footer {
    background-color: #101010;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
footer img {
    width: 100%;
    max-width: 22px;
}
.contatos-redes-sociais img {
    margin-right: 10px;
}
.logo2 {
    width: 100%;
    max-width: 7.3vw;
    margin: 10px;
}
.fim-footer {
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.location {
    display: inline-flex;
    align-items: center;
    margin: 5px;
}
.contatos-redes-sociais p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
#newsletter {
    text-transform: uppercase;
    background-color: #202020;
    width: 420px;
    height: 220px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
.formulario {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.checkbox {
    margin: 10px;
    align-self: center;
}
.formulario button {
    border-radius: 4px;
    height: 27px;
    width: 100%;
    max-width: 23%;
    margin: 10px auto;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: 550;
    background-color: #ffffff;
    border: none;
}
.checkbox a {
    color: #ffffff;
    font-size: 9.5px;
    display: flex;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}
#newsletter legend {
    color: #ffffff;
    font-family: 'Opens Sans Hebrew', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 25px 10px 10px  10px;
    font-size: 14px;
    letter-spacing: 0.03em;
    width: 100%;
}
#campo-email{
    width: 90%;
    border-radius: 2px;
    height: 32px;
    border: none;
    font-family: 'Noto', sans-serif;
}
#campo-email::placeholder {
    color: #000000;
    font-size: 10px;
    padding: 10px;
    font-weight: normal;
}
.contatos-redes-sociais  a {
    text-decoration: none;
    margin: 60px 0;
}
.contatos-redes-sociais h3 {
    margin: 50px 0 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    letter-spacing: -0.03em;
    font-weight: 550;
}

#menu__toggle {
    opacity: 0;
    width: 0%;
    margin: 0%;
    padding: 0%;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: relative;
    width: 26px;
    cursor: pointer;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00ffff;
    transition-duration: .25s;
    z-index: 2;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 23.7vw;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #101010;
    box-shadow: 2px 2px 6px rgba(50, 50, 50, .4);
    transition-duration: .25s;
    z-index: 1;
  }
  .menu__item {
    display: block;
    padding: 17px 24px;
    color: rgb(220, 220, 220);
    font-family: 'Roboto', sans-serif;
    font-size: 1.21vw;
    font-weight: 550;
    text-decoration: none;
    transition-duration: .25s;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
    color: #47a3e9;
  }

#idslide-carrosel::-webkit-scrollbar {
    background: transparent; 
    display: none;
}
.slide-carrosel {
    display: none !important;
}
#idslide-carrosel {
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling:touch;    
}
.circulo {
    scroll-snap-align:center;
    margin:0 1.8vw;
}
.circulo>.circulo a{
    margin:0 10px;
    scroll-snap-align: start;
    
}
.slide-carrosel img{
    width: 100%;
    max-width: 5vw;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.slide-carrosel div {
    font-weight: 900;
    text-align: center;
    color:#928F8F;
    justify-content: space-between;
}
.slide-carrosel {
    position: relative;
    display: flex;
    margin-top: 1.3vw;
    margin-bottom: 2.3vw;
    justify-content: space-between; 
}




@media screen and (min-width: 2000px) {
    .container-grid {
        margin: 0 auto;
    }
    .contatos-redes-sociais p {
        font-size: 19px;
    }
    header {
        height: 100px;
    }
    .banner {
        margin: 0 auto;
        width: 63.5vw;
        height: 26vw;
    }
    .logo {
        max-width: 7vw;
        padding-right: 0.3vw;
        margin: 0 0 0 3vw;
        margin-right: 0.2vw;
    }
    .cabecalho {
        display: flex;
        align-items: center;
    }
    .menu { 
        width: auto;
        margin-left: 1.5vw;  
    }
    .menu a{
        font-size: 16.5px;
        margin: 0.8vw;
        justify-content: space-between;
    }
    .cabecalho input {
        padding: 0.43vw 5.5vw;
        margin-left: 30px;
        margin-right: 0%;
    }
    .cabecalho input::placeholder {
        font-size: 78.5%;
        max-width: 100%;
        margin: 100%;
        display: block;
    }
    .cabecalho button {
        padding: 0.16vw 0.4vw;
    }

    .conteudo-banner {
        width: 27vw;
    }
    .initial {
        justify-content: space-between;
        width: 63vw;
    }
    .initial-pai {
        margin: 0.65vw 0 0.37vw 0;
        align-items: center;
        justify-content: space-around;
    }
    .initial h1 {
        font-size: 23px;
        margin-right: 1.5vw;
    } 

    #carrinho {
        margin-left: 1.9vw;
    }
    #carrinho a {
        width: 150px;
        height: 50px;
    }
    #carrinho p {
        padding-left: 14px;
        font-size: 14.5px;
    }
    #carrinho img {
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        width: 100%;
        max-width: 42px;
    }

    .sections {
        margin: 0 auto;
        width: 63.5vw;
    }
    .conteudo-sections p {
        font-size: 17.5px;
    }
    .aviso-promocao h1 {
        font-size: 19px;
    }
    .aviso-promocao p {
        font-size: 13.2px;
    }
    .produtos {
        width: 63.5vw;
        margin: 0 auto;
    }
    .afooter {
        margin: 0 auto;
        max-width: 63vw;
    }
    .logo2 {
        width: 100%;
        max-width: 7vw;
    }
}

@media screen and (max-width: 1300px) {
    .cabecalho input {
        padding: 0.53vw 4.5vw;
    }
    .conteudo-sections img {
        width: 4.58vw;
    }
    .cabecalho button {
        padding: 0.12vw 0.47vw;
    }
    .conteudo-banner {
        width: 32vw;
        height: 12vw;
    }
    .conteudo-banner h1{
        font-size: 3.9vw;
    }
    .conteudo-banner a {
        padding: 0.8vw 1.97vw;
    }
    .menu {
        width: 25.9vw;
    }
    .menu a {
        justify-content: space-between;
    }
    .initial h1 {
        margin-right: 6vw;
        font-size: 1.25vw;
    }
    .banner {
        margin: 0 auto;
        padding: 0%;
        width: 63vw;
    }
    .conteudo-sections p {
        font-size: 13.4px;
    }  

    .nome-produto {
        font-size: 8px;
    }
    .card button {
        max-width: 100%;
        width: 100%;
        height: 100%;
        max-height: 100%;
        font-size: 8.5px;
    }
    .card {  
        margin: 20px;
        width: 147px;
        height: 198.5px;
    }

    #newsletter legend {
        padding-top: 16px;
        font-size: 8.7px;
    }
    #newsletter {
        width: 265px;
        height: 152px;
        border-radius: 5px;
    }
    .formulario {
        padding: 8.5px;
    }
    #campo-email::placeholder {
        font-size: 8.5px;
    }
    .checkbox {
        margin: 7.8px;
    }
    .formulario button {
        height: 16px;
        width: 100%;
        max-width: 22.5%;
        margin: 1px auto;
        font-size: 6.5px;
    }
    .checkbox a {
        font-size: 5.2px;
    }
    #campo-email{
        width: 85%;
        border-radius: 2px;
        height: 22px;
    }
    .contatos-redes-sociais p {
        font-size: 14.5px;
    }
    .afooter {
        max-width: 63vw;
    }

}
@media screen and (max-width: 1150px) {
    .slide-carrosel {
        display: flex !important;
        max-width: 64vw;
        width: 100%;
        align-items: center;
    }
    #barras {
        display: flex;
        align-items: center;
    }
    .sections {
        background: rgba(204, 204, 204, .5);
        height: 12vw;
        align-items: center;
        padding: 10px;
        width: 75vw;
    }
    .menu {
        display: none;
    }
    #sect {
        display: none;
    }

    .menu-ativo {
        display: flex;
    }
    .menu a {
        font-size: 19px;
    }
    .conteudo-sections img {
        width: 5.11vw;
    }
    .conteudo-sections p {
        font-size: 1.42vw;
    }
    .pesquisa-produtos {
        margin: 0 6vw 0 0;
    }
}
@media screen and (max-width: 1020px) {
    .cabecalho {
        position: relative;
    }
    
    .banner {
        width: 64vw;
    }
    
    .initial h1 {
        font-size: 1.45vw;
    }
    
    .header-gamemania {
        height: 90px;
    }
    .cabecalho input {
    display: flex;
    align-items: center;
    align-self: center;
    }
    
    .logo {
        margin: 0%;
        width: 100%;
        margin-left: 2vw;
        max-width: 10.5vw !important;
    }
    .aviso-promocao h1{
        font-size: 1.39vw;
    }
    .aviso-promocao p {
        font-size: 0.85vw;
    }
    .conteudo-banner h1{
        font-size: 4.27vw;
    }
    .conteudo-banner {
        height: 12.8vw;
        width: 34.8vw;
    }
    .conteudo-banner a {
        font-size: 1.2vw;
        margin: 0 auto;
        padding: 0.65vw 2.18vw;
    } 
    .footer  {
        display: inline-grid;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    #newsletter {
        text-transform: uppercase;
        background-color: #202020;
        width: 420px;
        height: 220px;
        border-radius: 5px;
        text-align: center;
        align-items: center;
    }
    .formulario {
        display: inline-block;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .checkbox {
        margin: 10px;
        align-self: center;
    }
    .formulario button {
        border-radius: 4px;
        height: 27px;
        width: 100%;
        max-width: 23%;
        margin: 10px auto;
        font-family: 'Noto Sans', sans-serif;
        text-transform: uppercase;
        font-size: 11.5px;
        font-weight: 550;
        background-color: #ffffff;
        border: none;
    }
    .checkbox a {
        color: #ffffff;
        font-size: 9.5px;
        display: flex;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
        padding-left: 10px;
    }
    #newsletter legend {
        color: #ffffff;
        font-family: 'Opens Sans Hebrew', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 25px 10px 10px  10px;
        font-size: 14px;
        letter-spacing: 0.03em;
        width: 100%;
    }
    #campo-email{
        width: 90%;
        border-radius: 2px;
        height: 32px;
        border: none;
        font-family: 'Noto', sans-serif;
    }
    #campo-email::placeholder {
        color: #000000;
        font-size: 10px;
        padding: 10px;
        font-weight: normal;
    }
    .contatos-redes-sociais  h3 {
       font-size: 1.8vw; 
    }
    .contatos-redes-sociais  p {
        font-size: 1.78vw;
    }
    .fim-footer {
        font-size: 1.78vw;
    }
    .cont-red {
        align-items: center;
        display: flex;
        text-align: center;
        margin: 0 auto;
    }
    
    .logo2 {
        max-width: 13vw;
    }
}
@media screen and (max-width: 900px) {
    .cabecalho button {
        display: none;
    }
    .cabecalho input {
        padding: 0.75vw 4.7vw;
    }
    .cabecalho input::placeholder {
        text-align: center;
    }
    .logo {
        width: 100%;
        max-width: 12vw !important;
    }
}
@media screen and (max-width: 755px) {
   .pesquisa-produtos {
    display: none !important;
   }
   .logo {
    width: 100%;
    max-width: 15vw !important;
   }
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 330px) {

}